body{

  --background: #222;
  --color: white;
  --accent: #234a73;

  text-align: center;
  font-family: monospace;
  background-color: var(--background);
  color: var(--color);
}

@media (prefers-color-scheme: light) {
  body {
    --background: rgb(213, 213, 225);
    --color: black;
    --accent: #456;
  }
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  margin: 4em auto;
  width: 60%;
}

tr{
  border-bottom: 1px solid var(--color);
  height: 2em;
}

th{
  max-width: 20em;
}

#command_bar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}


textarea, input, button, .button {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--color);
  background-color: unset;
  border: 1px solid var(--color);
  border-radius: 5px;
}


a{
  color: unset;
}

.loading{
  animation: wiggle .5s infinite;
  }

@keyframes wiggle {
  0%, 100% {
    transform:translateY(0);
  }
  50% {
    transform:translateY(-10px);
  }
}

